.semBorda tr, .semBorda td {
    border: none !important;
}

.semBackground tr, .semBackground td {
    background: transparent !important;
}

.semBordaBackground tr, .semBordaBackground td {
    border: none !important;
    background: transparent !important;
}

.divCenterPage {
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
}

.colunaRadio {
    width:16px;
    text-align:center;
}

.posicaoDialogCarregando {
    left: auto !important;
    right: 3% !important;
    top: 6% !important;
}

.backGreen {
    background: green;
    color: white;
}

.backRed {
    background: red;
    color: white;
}

.backOrange {
    background: yellow;
    color: white;
}